@model Vidly.Models.Movie

@{
    ViewData["Title"] = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>


@*<h1>@(((Movie) ViewData["Movie"]).Name)</h1>
    $1$
        we need to cast te view data if we need to use  view data dictionary in the controller
    #1#*@