@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<Vidly.Models.Customer>
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>

<div>
    <p>
        @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
    </p>
</div>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(c => c.Name)</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*Because we are using the api to render the table, no need to render the customers from the server
            thats whay we delete the foreach block**@
    </tbody>
</table>

@section scripts
{

    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-customer-id=" + data + ">Delete" + "</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?",
                    function (result) {

                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();

                                }
                            });
                        }
                    });

            });
        });
    </script>
}